// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------


#form-add {
  display: none;
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  gap: 1rem;
  padding: 1rem;
  min-height: 25rem;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: $box-shadow;
}

.card-header,
.card-body {
display: grid;
}

.card-header {
  align-content: space-between;
}

.card-body {
  align-content: end;
  gap: 0.5rem;
}

.card-body,
.card-footer {
  border-top: 2px dashed $light1;
}

.card label {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}