// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

/* .card {
    background-color: white;
    max-width: 15rem;
    border: 3px solid salmon;
    padding: 0.5rem;
  } */

  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
   // max-width: $card-max-width;
    padding: 1em;
    gap: 1.5em;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: $box-shadow;
  }

  .card-header {
    min-height: 6em;
    border-bottom: 2px dashed $light1
  }

  .card-body > * + * {
    margin-top: 0.8em;
  }

  // .read-status {
  //   display: flex;
  //   justify-content: space-between;
  // }

  .card-footer {
    padding-top: 1.5em;
    text-align: right;
    border-top: 2px dashed $light1;
  }