dialog {
    margin: auto;
    border-radius: $border-radius / 2;
    border: 1px solid $accent;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: auto;
    padding: 1.5rem;
}

dialog::backdrop {
    background: change-color($dark2, $alpha: 0.5);
}