// -----------------------------------------------------------------------------
// This file contains all styles related to the grid of books.
// -----------------------------------------------------------------------------


#library {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, $min-card-width), 1fr));
    padding: 3rem 0;
    gap: 2rem;
}

