/*
* Andy Bell's Modern CSS Reset modified my Stephanie Eckless
* @link https://github.com/5t3ph/html-sass-jumpstart/blob/main/src/sass/_reset.scss
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
* {
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: 3px dotted hsl(35deg, 95%, 53%);
  outline-offset: 3px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: hsl(69deg, 25%, 89%);
  color: rgb(47, 30, 46);
}

.color-invert {
  background-color: rgb(47, 30, 46);
  color: hsl(69deg, 25%, 89%);
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: hsl(35deg, 95%, 53%);
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: ease all 0.2s;
}

/* bitter-regular - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bitter-v32-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/bitter-v32-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/**
 * Basic typography style for copy text
 */
h1,
h2 {
  font-family: "Bitter", serif;
  line-height: 1.15;
}

h1 {
  font-size: 4rem;
  font-size: min(max(3rem, 5vw), 4rem);
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  font-size: min(max(1.5rem, 3vw), 1.8rem);
}

.wrapper {
  width: min(100%, 150ch);
  margin: 0 auto;
  padding: 5vh clamp(0.3rem, 3vw, 3rem) 1rem;
}

.wrapper--button {
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  gap: 0.8rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer {
  padding: 0.5rem 0;
  text-align: center;
}

form {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

input {
  padding: 0.25em 0.5em;
  line-height: 1;
  background-color: rgba(232, 234, 220, 0.4);
  border: 1px solid rgb(47, 30, 46);
  border-radius: 4px;
  accent-color: hsl(314deg, 9%, 28%);
}

input[type=date] {
  width: 100%;
}

input:not([type=checkbox]) {
  min-width: 25vw;
  height: 2.25rem;
}

label {
  display: grid;
  gap: 0.5rem;
}

#library {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 17rem), 1fr));
  padding: 3rem 0;
  gap: 2rem;
}

.card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 1rem;
  padding: 2rem 1.8rem 0.5rem;
  min-height: 25rem;
  border-radius: 8px;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 3px 5px rgba(47, 30, 46, 0.28), inset 2.6666666667px 0px 0px 0px hsl(5deg, 83%, 64%);
  transition: ease background-color 0.2s;
}

.card-header,
.card-body {
  display: grid;
  gap: 0.5rem;
}

.card-header {
  align-content: start;
}

.card-body {
  align-content: end;
}

.card-body,
.card-footer {
  padding-top: 1.5rem;
  border-top: 2px dashed hsl(69deg, 25%, 89%);
}

.card label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

h2, p.card-author {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.card-title {
  position: relative;
  z-index: 10;
}

span.quotes {
  position: absolute;
  font-size: 2.5em;
  color: rgba(249, 154, 21, 0.2);
}

span.quotes--open {
  margin-top: -0.1em;
  margin-left: -0.25em;
}

span.quotes--closed {
  margin-left: -0.15em;
  margin-top: 0.15em;
}

p.card-author {
  font-style: italic;
}

span.card-date {
  font-family: "Bitter", serif;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.card:not([data-returned=true]) span.card-date {
  text-decoration: underline;
  text-decoration-thickness: 12px;
  text-underline-offset: -6px;
  -webkit-text-decoration-color: rgba(249, 154, 21, 0.2);
          text-decoration-color: rgba(249, 154, 21, 0.2);
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.card[data-read=true] {
  box-shadow: 0 3px 5px rgba(47, 30, 46, 0.28), inset 2.6666666667px 0px 0px 0px hsl(153deg, 43%, 50%);
}

.card:not([data-returned=true]) {
  outline: 1px solid hsl(40deg, 6%, 71%);
}

.card[data-returned=true] {
  color: hsl(314deg, 9%, 28%);
  background-color: rgba(255, 255, 255, 0.5);
}

button {
  display: inline-flex;
  align-items: center;
  align-self: start;
  justify-content: center;
  min-width: 10ch;
  min-height: 44px;
  padding: 0.1em 0.8em;
  transition: ease all 0.2s;
  border: 1px solid currentColor;
  border-radius: 8px;
  background-color: transparent;
  color: rgb(47, 30, 46);
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
button.btn-create {
  font-size: 1.125rem;
  padding: 1.3em;
  font-weight: 700;
  border-width: 2px;
  background-color: hsl(0deg, 0%, 100%);
}
button:hover, button:focus {
  background-color: hsl(308deg, 13%, 23%);
  color: hsl(0deg, 0%, 100%);
  border-color: hsl(308deg, 13%, 23%);
}

dialog {
  margin: auto;
  border: 2px solid hsl(69deg, 25%, 89%);
  border-radius: 4px;
  transition: ease all 0.2s;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: auto;
  padding: 1.5rem;
}

dialog::-webkit-backdrop {
  background: rgba(66, 51, 64, 0.8);
}

dialog::backdrop {
  background: rgba(66, 51, 64, 0.8);
}/*# sourceMappingURL=main.css.map */